<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更新日誌</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css">
    <link href="styles.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <style>
        .btn-danger {
            color: #000000;
            background-color: #ffffff00;
            border-color: #ffffff00;
            border-style: none;
            width: auto;
            height: auto;
            text-align: left;
        }

        .btn-danger:hover,
        .btn-danger:focus,
        .btn-danger:active:hover {
            color: #000000;
            background-color: #ffffff00;
            border-color: #ffffff00;
            border-style: none;
            text-align: left;

        }

        #white {
            background-color: rgb(255, 255, 255);
            border-radius: 0.5rem;
            border: 1px solid;
        }

        /* #white p{
            line-height:100%;

        } */
        .card-img-top {
            width: auto;
        }

        .center {
            text-align: center;
        }

        .pagination {
            display: inline-block;
            color: #ddd;
            padding: 3px;
        }

        .pagination a {
            color: rgb(109, 87, 87);
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
            /* border: 2px solid #ddd; */
            margin: 0 4px;
        }

        .pagination a.active {
            background-color: #9e8c81;
            color: rgb(255, 194, 81);
            /* border: 1px solid #4CAF50; */
        }

        .pagination a:hover:not(.active) {
            background-color: rgb(110, 131, 93);
            color: azure;
        }
    </style>
    <script>
        var Datanum;
    </script>
    <div id="BG-Up">
        <div class="container">
            <div class="row">
                <!-- Logo圖片 -->
                <div class="col-xs-12 col-md-12 col-lg-4  text-center">
                    <a href="HomePage.html"><img class="img-fluid" src="Image/LOGO/Logo_sm.png" alt="Logo"></a>
                </div>
                <div class="col-xs-6 col-md-6 col-lg-2  text-center">
                    <img class="img-fluid" src="Image/LOGO/small_switch.jpg" alt="switch.jpg">
                    <a href="https://www.marv.jp/"><img class="img-fluid" src="Image/LOGO/small_marvelous.png"
                            alt="marvelous.png"></a>
                </div>
                <!-- 下拉式選單 -->
                <div class="col-xs-6 col-md-6 col-lg-6 ">
                    <div class="btn-group">
                        <a type="button" href="StoryPage.html" class="btn btn-primary">故事大綱</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown" data-toggle="dropdown">
                                人物介紹
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="CharacterPage_Main.html">主角</a>
                                <a class="dropdown-item" href="CharacterPage_Male.html#img1">結婚對象（男）</a>
                                <a class="dropdown-item" href="CharacterPage_Female.html#img1">結婚對象（女）</a>
                                <a class="dropdown-item" href="CharacterPage_Hide.html#img1">結婚對象（隱藏）</a>
                                <a class="dropdown-item" href="CharacterPage_People.html">城鎮居民</a>
                                <a class="dropdown-item" href="CharacterPage_Animals.html">動物們</a>
                            </div>
                        </div>
                        <a type="button" href="FeaturesPage.html" class="btn btn-primary">遊戲特色</a>
                        <a type="button" href="VideoPage.html" class="btn btn-primary">介紹影片</a>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown" data-toggle="dropdown">
                                更新情報
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/announcement">更新日誌</a>
                                <a class="dropdown-item" href="ResponsePage.html">問題回報</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown" data-toggle="dropdown">
                                社群連結
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="https://www.facebook.com/sega.asiacs">Facebook</a>
                                <a class="dropdown-item" href="https://www.youtube.com/user/SEGAasia/">Youtube</a>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown" data-toggle="dropdown">
                                訪客回饋
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="VisitorMessagePage.html">訪客回饋</a>
                                <a class="dropdown-item" href="/Forum">討論區</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-12 col-lg-12 " id="carousel">
                    <img src="Image/ImageFlow/Journal.png" alt="Journal.png" width="100%">
                </div>
            </div>
            <div class="data-container">
                <div class="row" id=white>

                    <% Datanum=list;list.forEach(function(item){ %>
                        <!-- <form method="POST" action="/update" encType="multipart/form-data"> -->
                        <div class="col-md-2 col-xs-4 pt-2">
                            <!-- <h5 class="card-title" style="text-align:left;">2020/12/11</h5> -->
                            <h5 class="card-title"><strong>
                                    <%= item.date %>
                                </strong></h5>
                        </div>
                        <div class="col-md-2 col-xs-2 pt-2">
                            <img class="card-img-top" src="image/<%= item.img %>.png" alt="Card image cap">

                        </div>
                        <div class="col-md-8 col-xs-6 pt-2">
                            <!-- <p class="card-text" style="text-align:left;">2020/12/11網站更新進度</p> -->
                            <h5 class="blue-text "><strong>
                                    <button class="btn btn-danger btnUpdate"
                                        data-announcement="<%= JSON.stringify(item) %>" type="submit" value="test">
                                        <%= item.title %>
                                    </button></strong>
                            </h5>
                        </div>
                        <% }) %>
                </div>
            </div>

            <!-- <div class="data-container">
                <ul>
                    <li>data</li>
                </ul>
            </div> -->

            <!-- <div class="center">
                <div class="pagination"id="demo">
                    <a href="#">&laquo;</a>
                    <a href="#" class="active">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                    <a href="#">6</a>
                    <a href="#">&raquo;</a>
                </div>
            </div> -->
            <!-- <div class="data-container">
                <ul>

                    <li></li>

                </ul>
            </div> -->
            <!-- <div class="demo">
                <div class="pagination">
                    <div class="pagination-pages">
                        <ul>
                            <li class="pagination-prev J-pagination-previous" data-num="1" title="Previous page"><a
                                    href="">«</a></li>
                            <li class="pagination-page J-pagination-page active" data-num="1"><a href="">1</a></li>
                            <li class="pagination-page J-pagination-page" data-num="2"><a href="">2</a></li>
                            <li class="pagination-page J-pagination-page" data-num="3"><a href="">3</a></li>
                            <li class="pagination-page J-pagination-page" data-num="4"><a href="">4</a></li>
                            <li class="pagination-page J-pagination-page" data-num="5"><a href="">5</a></li>
                            <li class="pagination-ellipsis disabled"><a>...</a></li>
                            <li class="pagination-page pagination-last J-pagination-page" data-num="20"><a
                                    href="">20</a></li>
                            <li class="pagination-next J-pagination-next" data-num="3" title="Next page"><a
                                    href="">»</a></li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small teal pt-4" id="Footer">

        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3">
                    <div class="text-center">
                        <!-- Content -->
                        <h5 class="text-uppercase font-weight-bold pb-3">遊戲資訊</h5>
                        <p>遊戲名稱：牧場物語　重聚礦石鎮</p>
                        <p>遊戲平台：Nintendo Switch TM</p>
                        <p>遊戲類型：溫馨生活遊戲</p>
                        <p>發售日期：2019年10月17日（四）</p>
                        <p>建議售價：5,800日圓 + 稅</p>
                        <p>遊玩人數：1人</p>
                    </div>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3">

                    <!-- Content -->
                    <h5 class="text-uppercase font-weight-bold pb-3">常用連結</h5>
                    <div class="container">
                        <div class="row">
                            <a href="https://www.facebook.com/sega.asiacs"><img class="p-3"
                                    src="Image/Icon/Facebook.png" alt="Facebook.png"></a>
                            <a href="https://www.marv.jp/"><img class="p-3" src="Image/Icon/marvelous.png"
                                    alt="marvelous.png"></a>
                            <a href="http://asia.sega.com/cht/"><img class="p-3" src="Image/Icon/Sega.png"
                                    alt="Sega.png"></a>
                        </div>
                        <div class="row">
                            <a href="https://www.nintendo.tw/hardware/switch/feature/"><img class="p-3"
                                    src="Image/Icon/switch.jpg" alt="switch.jpg"></a>
                            <a href="https://passport.weibo.com/"><img class="p-3" src="Image/Icon/Weibo.png"
                                    alt="Weibo.png"></a>
                            <a href="https://www.youtube.com/user/SEGAasia/"><img class="p-3"
                                    src="Image/Icon/Youtube.png" alt="Youtube.png"></a>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="row">
            <div class="col-10">
                <div class="text-center py-3">組員名單
                    <p>1410722020 楊采妮 1410722023 况映彤 1410722034 王鴻逸</p>
                </div>
            </div>
            <div class="col-2">
                <p>瀏覽人次：</p>
                <img src="https://www.mfwzjsq.com/hit.php?id=zexaqc&nd=6&style=99" alt="網頁計數器">
            </div>
        </div>

        <!-- Copyright -->

    </footer>
    <!-- Footer -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script> -->
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.min.js"></script>

    <button type="button" id="BackTop" class="toTop-arrow"></button>

    <script>

        $(".btnUpdate").click(function (event) {
            var item = $(this).data("announcement");
            // $.ajax({
            // url:"/update",
            // type: "POST",
            // contentType: "application/json",
            // data: JSON.stringify(item),
            // success: function(result, status){
            //     if(status=="success"){

            //     }
            // }
            window.location.href = "/update?title=" + item.title + "&date=" + item.date + "&img=" + item.img + "&content=" + item.content;
        });

        $(function () {
            $('#BackTop').click(function () {
                $('html,body').animate({ scrollTop: 0 }, 333);
            });
            $(window).scroll(function () {
                if ($(this).scrollTop() > 300) {
                    $('#BackTop').fadeIn(222);
                } else {
                    $('#BackTop').stop().fadeOut(222);
                }
            }).scroll();
        });
        $('#demo').pagination({
            dataSource: Datanum,
            callback: function (data, pagination) {
                // template method of yourself
                var html = template(data);
                dataContainer.ejs(html);
            }
        })
        // $('#demo').pagination({
        //     dataSource: [1, 2, 3, 4, 5, 6, 7, ... , 195],
        //     callback: function (data, pagination) {
        //         // template method of yourself
        //         var html = template(data);
        //         dataContainer.html(html);
        //     }
        // })


    </script>
</body>

</html>