body {
	font: 12px Tahoma, Arial, Helvetica, sans-serif;
	color: #000000;
	/* background:linear-gradient(rgb(150, 44, 44),rgb(88, 88, 88),rgb(37, 37, 37), rgb(112, 112, 112), rgb(0, 0, 0)); */
}
#bg{
	background-color: rgb(176, 253, 253);
}